# exclude all dot-files and directories
.*

# github / git
.github
.github/ISSUE_TEMPLATE
.gitignore
.gitattributes
.git

# vscode
.vscode

# node
node_modules

# automation scripts
scripts

# test
test
main.test.js
appveyor.yml
appveyor.yaml
.travis.yml
.travis.yaml

# i18n intermediate files
admin/i18n

# eslint
.eslintrc.json
.eslintrc.js

# npm package files
iobroker.*.tgz
package-lock.json

# maintenance scripts
maintenance/**

# other
gulpfile.js
iob_npm.done
tsconfig.json
tslint.json
.idea
nbproject/
.vs*/
Thumbs.db
