os:
  - linux
  - osx
  - windows
language: node_js
node_js:
  - '12'
  - '14'
  - '16'
env:
  - CXX=g++-6
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
before_install:
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then CC=gcc-6; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then CC=g++-6; fi'
before_script:
  - export NPMVERSION=$(echo "$($(which npm) -v)"|cut -c1)
  - 'if [[ $NPMVERSION == 5 ]]; then npm install -g npm@5; fi'
  - npm -v
script:
  - 'npm run test:package'
  - 'npm run test:iobroker'
  - 'npm run test:unit'
  - 'export DEBUG=testing:*'
  - 'npm run test:integration'
